/* variables */

:root {
  --main-color: #10cab7;
  --secondary-color: rgb(196, 28, 28);
}

/* *Global rules START */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.parent {
  background-color: rgb(99, 95, 95);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* * media Quieres */
/* ! small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*  ! medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

}

/* ! large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}


/* * Global rules END */

/* * START HEADER */
.header {
  padding: 0px 10px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links:hover ul {
  display: block;
}

.header .links ul {
  position: absolute;
  right: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  top: calc(100% + 7px);
  background-color: #f3f3f3;
  display: none;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: rgba(255, 0, 0, 0) rgba(0, 0, 255, 0) #f3f3f3 rgba(255, 255, 0, 0);
  position: absolute;
  right: 5px;
  top: -20px;
}


.header .links ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  color: #333;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not( :last-child) a {
  border-bottom: 1px solid rgb(173, 170, 170);
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;

}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.5s;
}

.header .links .icon span:last-child {
  width: 100%;
}

/* * END HEADER */

/* *  START LANDING SECTION */

.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}

.landing .intro-text p {
  font-size: large;
  line-height: 1.8;
}

/* * END LANDING SECTION */

/* * START features SECTOIN */
.features {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}

.features .feat i {
  font-size: 40px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;

}

.features .feat {
  padding: 20px;
  text-align: center;

}

.features .feat i {
  color: var(--main-color);
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0px;
}

.features .feat p {
  line-height: 1.6;
  color: #777;
  font-size: medium;
}

/* * END features SECTOIN */

/* * services section START  */
.services {
  background-color: #ffffff;
}


.special-heading {
  font-size: 100px;
  text-align: center;
  letter-spacing: -3px;
  color: #ebeced;
}

.special-heading+p {
  text-align: center;
  margin-top: -30px;
  color: #79797d;
  font-size: 35px;
}

@media (max-width: 768px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading+p {
    font-size: 20px;
    margin-top: -18px;
  }
}

.services {
  padding: 50PX 0PX;
}

.services .container .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .container .service-content .srv {
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .services .container .service-content .srv {
    flex-direction: column;
    text-align: center;

  }
}

.services .container .service-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .container .service-content .srv .text {
  flex: 1;
}

.services .container .service-content .srv .text h3 {
  margin: 0 0 20px;
}

.services .container .service-content .srv .text p {
  color: #333;
  line-height: 1.6;
}

.image-column {
  text-align: center;
  position: relative;
  z-index: 0;
}

.image-column::before {
  content: "";
  background-color: yellow;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.image-column .col3img {
  width: 260px;
}

@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}

/* * services section END  */

/* * PORTFOLOI START  */
.PORTFOLIO {
  background-color: #f6f6f6;
  padding: 50PX 0PX;
}

.Portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.CARD {
  background-color: #ffffff;
}

.CARD-IMG {
  max-width: 100%;

}

.card-info {
  padding: 15px;
}

.CARD h3 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.CARD p {
  line-height: 1.6;
  color: #777;
}

/* * PORTFOLOI END  */

/* * ABout start  */
.About {
  margin-top: 20px;
  padding: 50PX 0PX;
  background-color: #ffffff;
}

.About-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  grid-gap: 30px;
  margin-top: 100px;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .About-content {
    grid-template-columns: 1fr;
  }

  .card1 {
    position: relative;
    height: 375px;
  }

  .ABOUT-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.ABOUT-img {
  max-width: 100%;
  height: 379px;
}

.ABOUT-CARD p:first-of-type {
  padding: 50px 0;
  font-weight: bold;
  line-height: 2;
}

.ABOUT-CARD hr {
  width: 50%;
  border: 1px solid var(--main-color);
}

.ABOUT-CARD p:last-of-type {
  padding: 50px 0;
  line-height: 2;
  color: #777;
}

/* ! ABout end  */

/* * CONTACT START  */
.CONTACT {
  background-color: #f6f6f6;
  padding: 50PX 0PX;
}

.CONTACT-content {
  text-align: center;
}

.CONTACT-content p:first-of-type {
  font-size: 35px;
  font-weight: 800;
  color: rgb(218, 212, 212);
  letter-spacing: -2px;
  margin: 30px 0px;
}

.CONTACT-content a {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
  margin: 30px 0px;
}

@media (max-width: 768px) {
  .CONTACT-content a {
    font-size: 20px;
  }

  .social {
    font-size: 20px
  }
}

.CONTACT-content i {
  padding: 0px 5px;
}

/* ! CONTACT END  */

/* * FOOTER START  */
.footer {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

.footer span {
  font-weight: bold;
  color: var(--main-color);
}

/* ! FOOTER END  */